*,
:after,
before {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f3e9;
}

.hlavicka {
  height: 100px;
  margin: 0;
  min-height: 40vh;
  padding: 20px 50px 20px 50px;
  background-image: url('IMG/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.o_nas {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  margin: 0;
}

.magda {
  background-color: #a3d2ca;
  flex-basis: 50%;
  padding: 50px 100px 50px 100px;
}

.marketa {
  background-color: #5eaaa8;
  flex-basis: 50%;
  padding: 50px 70px 50px 70px;
}

.projekt {
  background-color: #f05945;
  margin: 0;
  min-height: 45vh;
  color: white;
  padding: 20px 100px 20px 100px;
}

.o_projektu {
  background-color: #f05945;
  margin: 0;
  min-height: 30vh;
  color: white;
  padding: 10px 0px 10px 0px;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.kontakty {
  padding: 10px 50px 10px 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 1.5;
  text-align: center;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 38px;
  padding: 0;
}

.titulek {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 120px;
  text-align: center;
  color: #f05945;
  text-shadow: 1px 2px 3px black;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #f05945;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
}

/* Magda sekce*/
.box {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  margin: 0;
}

.uvod_magda {
  display: flex;
  height: 100px;
  margin: 0;
  min-height: 45vh;
  padding: 10px 50px 10px 50px;
  background-image: url('IMG/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.okno1_magda {
  display: flex;
  background-image: url(IMG/fotka-Magda.jpg);
  background-size: cover;
  flex-basis: calc(100% / 3);
  padding: 30px 50px 30px 50px;
}

.okno2_magda {
  background-color: #5eaaa8;
  flex-basis: calc(100% / 3);
  padding: 80px 60px 60px 60px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 40px;
}

.okno3_magda {
  background-color: #a3d2ca;
  flex-basis: calc(100% / 3);
  padding: 30px 50px 30px 50px;
  line-height: 1.5;
}

.text_magda {
  background-color: #f05945;
  min-height: 45vh;
  background-color: #f05945;
  margin: 0;
  min-height: 30vh;
  color: white;
  padding: 80px 60px 60px 60px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: 1, 5em;
}

.jmeno {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 90px;
  text-align: center;
  color: #f05945;
  text-shadow: 1px 2px 3px black;
}

/* Markéta sekce*/
.box {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  margin: 0;
}

.uvod_magda {
  display: flex;
  height: 100px;
  margin: 0;
  min-height: 45vh;
  padding: 10px 50px 10px 50px;
  background-image: url('IMG/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.okno1_marketa {
  display: flex;
  background-image: url(IMG/fotka-Marketa.jpg);
  background-size: cover;
  flex-basis: 34%;
  padding: 30px 50px 30px 50px;
}

.okno2_magda {
  background-color: #5eaaa8;
  flex-basis: 34%;
  padding: 30px 50px 30px 50px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}

.okno3_magda {
  background-color: #a3d2ca;
  flex-basis: 34%;
  padding: 30px 50px 30px 50px;
}

.text_magda {
  background-color: #f05945;
  min-height: 45vh;
  background-color: #f05945;
  margin: 0;
  min-height: 30vh;
  color: white;
  padding: 40px 50px 10px 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: 1, 5em;
}

.jmeno {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 90px;
  line-height: 1.5;
  text-align: center;
  color: #f05945;
  text-shadow: 1px 2px 3px black;
}

.tlacitko {
  font-size: 30px;
  line-height: 1.5;
}
